html, body {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  flex-flow: row;
  border-block-end: 1px solid #ccc;
}

a {
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: 3px 3px 0 0;
  background-color: #ddaa00;
  text-decoration: none;
  color: #ffffff;
}

a:hover, a:focus, a:active {
  background-color: #ffcc22;
  color: black;
}
